<app-loading *ngIf="loading"></app-loading>

<div *ngIf="!loading" class="row animated fadeIn">

    <div class="col-2">
        <img [src]="artist.images | noImg" alt="" class="img-thumbnail img-circle">
    </div>

    <div class="col">
        <h3>{{ artist.name }}</h3>

        <p>
            <a [href]="artist.external_urls.spotify" target="_blank">
            Go to artist page
          </a>
        </p>
    </div>

    <div class="col-4 text-right">
        <button routerLink="/search" class="btn btn-outline-danger m-block">
          Back
        </button>
    </div>

    <div class="row mt-5">
        <table class="table text-white ">
            <thead>
                <tr class="table-dark">
                    <th scope="col">TOP</th>
                    <th scope="col"></th>
                    <th scope="col">Album</th>
                    <th scope="col">Song</th>
                    <th scope="col">Preview</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let song of topTracks; let i=index">
                    <td>{{ i +1 }}</td>
                    <th scope="row">
                        <img [src]="song.album.images | noImg" alt="" class="img-thumb">
                    </th>
                    <td>{{ song.album.name }}</td>
                    <td>{{ song.name }}</td>
                    <td>
                        <!-- <audio [src]="song.preview_url" controls></audio> -->
                        <iframe [src]=" song.id | domseguro " width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>